#device {
  .content-left {
    width: 182px;
    .content-left-list {
      margin-top: 15px;
      list-style: none;
      overflow-y: scroll;
      overflow: -moz-scrollbars-none;
      height: 600px;
      &::-webkit-scrollbar { width: 0 !important }
      .content-left-list-item {
        text-align: center;
        padding: 10px;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        &:hover {
            transition: all .3s ease-in-out;
            color: #1890ff;
        }
      }
      .active {
        transition: all .2s ease-in-out;
        color: #1890ff;
        background-color: #fff;   
      }
    }
  }
  .content-right {
      padding: 20px;
      width: 90%;
  }
}
